@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    background-color: #5e4338;
    /* font-size: 27px; */
    color: white;
}

header {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    /* color: white; */
}
header a{
    color: inherit;
    text-decoration: none;
}

#logo {
    display: inline-block;
    background-image: url('https://cdn.pixabay.com/photo/2020/01/28/12/29/mens-shoes-4799688_1280.png');
    width: 1em;
    height: 1em;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    filter: invert();
}

nav {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 2rem;
    background-color: black;
}
nav a{
    display: inline-block;
    color: inherit;
    margin: 0 1em;
    padding: 0 1em;
    text-decoration: none;
    line-height: 1.5em;
}
nav a:hover {
    background-color: #ffffff33;
}

section {
    margin: auto;
    max-width: 750px;
    margin-top: 2em;
    background-color: #00000033;
    padding: 1em;
    text-align: justify;
}
section h1:first-of-type {
    margin-top: 0;
}
h1 {
    margin: .5em 0;
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    font-weight: lighter;
}
p {
    font-family: "Book Antiqua", Georgia, 'Times New Roman', Times, serif;
}

article {
    margin: auto;
    max-width: 750px;
    margin-top: 2em;
    background-color: #00000033;
    padding: 1em;
    min-height: calc(250px + 3.5em);
}

article img {
    max-height: 250px;
    max-width: 250px;
    float: left;
    margin-right: 5px;
}
article h1:first-of-type {
    margin-top: 0;
}

article.novedad {
    background-color: #ffffff40;
}






#hidden_element {
    position: fixed;
    right: -100%;
    bottom: 5vh;
    background-color: black;
    padding: 1em;
    border-radius: 50% 0 0 50%;
    animation-name: anim1;
    animation-duration: 2s;
/*     animation-direction: initial;
    animation-timing-function: initial; */
    animation-delay: 3s;
/*     animation-iteration-count: 1; */
    animation-fill-mode: forwards;
}
#hidden_element a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    animation-name: anim2;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anim1 {
    0% {right: -100%;}
    100% {right: 0;}
}

@keyframes anim2 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}