@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    background-color: #5e4338;
}

header {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    color: white;
}

#logo {
    display: inline-block;
    background-image: url('https://cdn.pixabay.com/photo/2020/01/28/12/29/mens-shoes-4799688_1280.png');
    width: 1em;
    height: 1em;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    filter: invert();
}