@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    color: white;
    background-color: #5e4338;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 0;
}
body>h1>a {
    color: white;
}

#numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.number {
    display: inline-block;
    font-size: 4rem;
    margin: 0 .1em;
}
.number:hover {
    cursor: grab;
}

#containers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: 40%;
    height: 10em;
}
.container {
    text-align: center;
    line-height: 2em;
    border-bottom: 2px solid lightgray;
    background-color: #00000005;
    width: 18%;
    font-size: 4rem;
}






@media (max-width: 600px) {
    #containers {
        width: 100%;
    }
}