body {
  font-family: sans-serif;
}

header {
  text-align: center;
}

p {
  max-width: 60vw;
  margin: 1em auto;
  font-size: 20px;
}

iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#images {
  display: flex;
  justify-content: space-evenly;
}

img {
  max-height: 250px;
}

@media (max-width: 600px) {
  p {
    max-width: 100%;
  }
}