@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    color: white;
    background-color: #5e4338;
    font-family: 'Great Vibes', cursive;
}
body>a {
    color: white;
}

