@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body {
    color: white;
    background-color: #5e4338;
    font-family: 'Kaushan Script', 'Great Vibes', cursive;
    text-align: center;
}
body>h1>a {
    /* font-family: 'Great Vibes', cursive; */
    color: white;
}

p {
    font-family: 'Kaushan Script';
    font-size: 20px;
    font-weight: lighter;
    max-width: 50vw;
    margin: auto;
    text-align: left;
    margin-bottom: 1em;
}

button {
    min-width: 100px;
    min-height: 100px;
    border: 5px solid lightgray;
    display: inline-block;
    font-size: 2rem;
    border-radius: 1em;
    margin-top: 30vh;
}
button:hover {
    cursor: pointer;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: limegreen;
}
.yellow {
    background-color: yellow;
}

@media (max-width: 600px) {
    p{
        max-width: 100%;
    }
}